.bookmark-id{
    visibility: hidden;
}
.bookmark-url{
    visibility: hidden;
}
.bookmark{
  
    position: relative;
    width: 70%;
    bottom: -22px;
}
  
 
.base-addBookmark{
    bottom: -42%;
    position: relative;
 
    padding-left: 44%;
}
.base-edite-input{
    width: 72%;

}
.base-edite-input_people{
    width: 46%;

}